    @charset "utf-8";
    /* CSS Document */
    
    i {
        font-style: normal;
    }
    
    @import url("http://fonts.googleapis.com/earlyaccess/notosanstc.css");
    @import url("reset.css");
    body {
        width: 100vw;
        overflow-x: hidden;
        background: #1F2630 url(../img/main_bg.svg) 0 0 no-repeat;
        color: #fff;
        font-family: Verdana, Noto Sans CJK TC;
        font-size: 1.5rem;
        background-size: cover;
    }
    
    * {
        box-sizing: border-box;
    }
    /* 上方選單 */
    
    .submenu {
        width: 100px;
        position: fixed;
        height: 100vh;
        background: linear-gradient(to bottom, #1f2630 0%, #2c3745 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        top: 0;
        overflow-y: auto;
    }
    
    .submenu ul {
        width: 60px;
        clear: both;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .submenu li {
        padding: 8px 0;
        list-style-type: none;
    }
    
    .submenu li a.no_bg {
        background: none;
    }
    
    .submenu li a.no_bg:hover {
        background: none;
    }
    
    .submenu li a {
        padding: 0;
        color: #fff;
        background: url(../img/main_btn_bg.svg) 0 0 no-repeat;
        width: 60px;
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .submenu li a:hover,
    .submenu li a:focus {
        background: url(../img/main_btn_bg2.svg) 0 0 no-repeat;
        transition: all 0.3s;
    }
    /**/
    
    .main {
        width: calc(100vw - 101px);
        float: right;
        display: flex;
        flex-wrap: wrap;
        border-left: #000 1px solid;
    }
    
    header {
        height: 80px;
        width: 100vw;
        background: url(../img/header_bg.jpg) right no-repeat;
        padding: 0 26px;
        position: fixed;
        z-index: 99;
        display: flex;
        align-items: center;
        background-size: cover;
        top: 0
    }
    
    h1 {
        font-size: 0em;
        display: inline-block;
        margin-bottom: 0;
        margin-left: 100px;
    }
    
    h1 a.logo {
        display: inline-block;
        background: url(../img/logo.svg) 0 0 no-repeat;
        width: 664px;
        height: 41px;
        text-indent: -9999px;
        background-size: cover;
    }
    
    .information {
        padding: 10px;
        width: 66%;
        margin-top: 80px;
        min-height: calc(100vh - 80px);
        background: linear-gradient(-45deg, #1f2630 0%, #2c3745 100%);
    }
    
    .information_border {
        width: 100%;
        min-height: 94px;
        border: 2px solid;
        border-image: linear-gradient(0deg, #0074BD, #008F97) 1;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    
    .information_select {
        margin-left: auto;
    }
    
    h2.cause {
        min-height: 94px;
        font-size: 2.875rem;
        display: inline-flex;
        align-items: center;
    }
    
    h2::after {
        content: "";
        display: block;
        background: url(../img/h2_icon.svg) 0 0 no-repeat;
        width: 143px;
        height: 22px;
    }
    
    .select {
        background-color: #fff;
        border: #000 1px solid;
        padding: 5px 10px;
        min-height: 44px;
        margin: 5px 0;
        min-width: 140px;
    }
    
    .btn_bg {
        min-height: 44px;
        color: #fff;
        padding: 5px 10px;
        margin-left: 15px;
        margin: 5px 0;
        min-width: 140px;
        background: linear-gradient(to bottom, rgb(0, 143, 151) 0%, rgb(0, 116, 189) 100%);
        border-radius: 10px;
        font-size: 1.5rem;
        border: none;
    }
    
    .information_border.infor2 {
        padding: 10px 10px 0 10px;
        margin-top: 10px;
    }
    
    h3.cause2 {
        font-size: 1.313rem;
        display: inline-flex;
        align-items: center;
        width: 100%;
        display: flex;
        margin: 5px 0 15px 0;
    }
    
    h3.cause2::before {
        content: "";
        display: block;
        background: url(../img/blue_disc.svg) 0 0 no-repeat;
        width: 7.5px;
        height: 7.5px;
        margin-right: 10px;
    }
    
    h3.cause2::after {
        content: "";
        display: block;
        background: url(../img/blue_line.svg) 0 0 no-repeat;
        width: 321px;
        height: 8px;
        margin-left: 10px;
    }
    
    .area_b {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
    }
    
    .area {
        padding: 20px 10px;
        width: calc(50% - 6px);
        border: #546882 1px solid;
        border-radius: 5px;
        display: flex;
        margin-bottom: 10px;
        flex-wrap: wrap;
        justify-content: center;
        background: linear-gradient(to bottom, #2F3844, #45556B);
    }
    
    h4.cause3 {
        font-size: 1.875rem;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    
    .area2 {
        width: 45%;
        display: inline-flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 15px 0;
    }
    
    .area3 {
        width: 55%;
    }
    
    h5.number {
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.875rem;
        line-height: 3.875rem;
        background: linear-gradient(to top, #FFCC00, #FBDD3B);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 0;
    }
    
    h6.cause3 {
        font-size: 1.563rem;
    }
    
    h6.number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3.125rem;
        line-height: 3.125rem;
        background: linear-gradient(to right, #00CCFF, #00FFF7);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        margin-bottom: 0;
    }
    
    .map {
        width: 34%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
        min-width: 400px;
        justify-content: center;
        background: linear-gradient(-45deg, #1f2630 0%, #2c3745 100%);
        font-size: 1.125rem;
    }
    
    .map img {
        width: 64%;
    }
    /*第二頁*/
    
    .google_map {
        width: calc(100vw - 100px);
        margin-left: 100px;
        position: relative;
        height: calc(100vh - 80px);
        margin-top: 80px;
    }
    
    .lightbox {
        background: linear-gradient(-45deg, rgba(31, 38, 48, 0.7) 0%, rgba(44, 55, 69, 0.7) 100%);
        width: 416px;
        position: absolute;
        z-index: 2;
        padding: 5px 10px 15px;
        left: 5px;
        bottom: 0;
        overflow-y: auto;
    }
    
    .cause.Regulatory {
        font-size: 1.438rem;
        margin: 5px 0;
        min-height: unset;
        background: linear-gradient(to right, #00CCFF, #00FFF7);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-weight: bold;
    }
    
    .close_btn {
        position: absolute;
        right: 0;
        top: 0;
        z-index: 9;
    }
    
    .lightbox_border {
        background: linear-gradient(-45deg, rgba(31, 38, 48, 0.7) 0%, rgba(44, 55, 69, 0.7) 100%);
        padding: 5px 10px;
        position: relative;
        overflow: hidden;
    }
    
    .company_title {
        font-size: 0.95rem;
        color: #00CDD7;
        margin-bottom: 5px;
        font-size: 1.25rem;
    }
    
    .company {
        font-size: 0.9rem;
        padding: 0;
        margin-bottom: 0;
    }
    
    .company li {
        margin-bottom: 2px;
        display: inline-flex;
        width: 100%;
    }
    
    .company li .title {
        width: 160px;
        display: block;
    }
    
    .company li .content {
        width: 204px;
    }
    
    .btn_bg.detail {
        float: right;
        font-size: 1.125rem;
        min-width: 81px;
        min-height: 28px;
        border-radius: 5px;
        padding: 0
    }
    /*最右側文字資料*/
    
    .infor200 {
        background: linear-gradient(-45deg, rgba(31, 38, 48, 0.7) 0%, rgba(44, 55, 69, 0.7) 100%);
        width: 400px;
        height: calc(100vh - 80px);
        position: absolute;
        z-index: 2;
        padding: 10px;
        right: 0;
        top: 0px;
        display: flex;
        flex-direction: column;
        overflow-y: auto
    }
    
    .infor_txt {
        font-size: 0.938rem;
        padding: 0;
        margin-bottom: 10px;
    }
    
    .infor_txt li {
        margin-bottom: 5px;
        display: inline-flex;
        width: 100%;
        height: 31px;
        margin-bottom: 3px;
    }
    
    .infor_txt li .title {
        width: 109px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #007387;
    }
    
    .infor_txt li .content {
        width: calc(100% - 109px);
        background-color: #fff;
        color: #000;
        display: flex;
        align-items: center;
        padding-left: 10px;
    }
    
    .btn_bg.gray {
        margin-right: 20px;
        background: linear-gradient(to top, rgb(112, 112, 112) 0%, rgb(145, 145, 145) 100%);
    }
    
    .illustrate {
        font-size: 1.5rem;
    }
    
    .illustrate2 {
        margin: 0;
        padding: 0;
    }
    
    .illustrate3 {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }
    
    .illustrate3 li {
        list-style-type: none;
    }
    
    .illustrate2 li {
        display: inline-flex;
        align-items: center;
        margin: 15px 2px;
        font-size: 0.9rem;
        list-style-type: none;
    }
    
    .colorblock {
        width: 30px;
        height: 30px;
        display: inline-block;
        margin-right: 5px;
    }
    
    .colorblock2 {
        width: 14px;
        height: 14px;
        display: inline-block;
        margin-right: 5px;
    }
    
    .red {
        background-color: #FF0000;
    }
    
    .orange {
        background-color: #FF7700;
    }
    
    .yellow {
        background-color: #FBB03B;
    }
    
    .yellow2 {
        background-color: #FFFF96;
    }
    
    .lightbox_border1 {
        background: linear-gradient(-45deg, rgba(31, 38, 48, 0.7) 0%, rgba(44, 55, 69, 0.7) 100%);
        padding: 5px 10px;
        position: relative;
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
    
    .page {
        padding: 0;
        font-size: 0.9rem;
        display: flex;
        justify-content: center;
        margin-top: auto;
        /* 利用flex特性，margin-top設auto後會自動計算上面有多少空間而將元素往下推移 */
    }
    
    .page li {
        display: inline-flex;
        margin: 0 3px;
        align-items: center;
    }