    @media screen and (max-width: 1438px) {
        .area2 {
            width: 100%;
        }
        .map img {
            width: 90%;
        }
        .information {
            width: calc(100vw - 101px);
        }
        .information_select {
            margin-bottom: 10px;
        }
        .map {
            width: calc(100vw - 101px);
            margin-top: 0;
        }
    }
    
    @media screen and (max-width: 1283px) {
        h5.number {
            font-size: 3rem;
        }
    }
    
    @media screen and (max-width: 1127px) {
        h2.cause {
            font-size: 3rem;
            line-height: 3rem;
        }
    }
    
    @media screen and (max-width: 940px) {
        .lightbox {
            width: calc(50% - 10px);
        }
        .infor200 {
            width: 50%;
        }
    }
    
    @media screen and (max-width: 803px) {
        h1 a.logo {
            width: 600px;
            background-size: contain;
        }
    }